body
{
    margin: 0;
}

h2
{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

p
{
    font-family: 'Merriweather', serif;
}

.yellow-wave
{
    /* position: fixed; */
    width: 100%;
}

.mynav
{
    position: absolute;
    z-index: 1;
    top: 0;
    padding: 2rem;
    width: 100%;

}

.navbar
{
    padding-bottom: 4.5rem;
}

a {
    background: linear-gradient(0deg, white, white) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
  }
  a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
  }

.navbar-brand
{
    font-family: "Ubuntu";
    font-size:  3.2rem;
    font-weight: bold;
    color: white;
}



.nav-item
{
    padding: 0 18px;
    font-size: 1.5rem;
}

.nav-link
{
    font-size: 1.2 rem;
    font-family: "Montserrat-light";
}


.rotate
{
    transform: rotate(180deg);
}

.content
{
    width: 70%;
    margin: 70px auto 150px auto;
    text-align: left;
    line-height: 1.5;
}

.colored
{
    background-color: #57A237;
    /* padding: 50px; */
    padding-top: 10px;
    padding-bottom: 10px;
}


.img-content-right
{
    width: 55%;
    float: right;
    margin-left: 100px;
}




.img-content-left
{
    width: 55%;
    float: left;
    margin-right: 100px;
}

.footer-class
{
    position: absolute;
    text-align: center;
    background-color: #57A237;
    width: 100%;
}
.social_icon
{
    margin: 20px 10px;
}

